@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Miaw";
}

<h2>Miaw Miaw</h2>

<p>My first project on .NET Core 8 with MVC patterns!</p>
<p>Sorry, it's a bit chaos in here hehe, but anyways! you can find the CRUD functionality in the 'Todo' tab above in the navbar</p>